
.container {
    display: grid;
    height: 90vh;
    row-gap: 1rem;
    margin-left: 3rem;
    width: 20rem;
}

.section {
    display: grid;
}
.section label {
    justify-self: start;
    color: rgb(130, 130, 130);
}

.button {
    color: white;
    background-color: rgb(22, 100, 244);
    border: 1px solid rgb(22, 100, 244);
    border-radius: 0.5rem;
    padding: 0.3rem 0.8rem;
    margin-top: 1rem;
}
.button:hover {
    filter: brightness(0.8);
    cursor: pointer;
}